.App {
  text-align: center;
}

.App-logo {
  height: 30vh;
  pointer-events: none;
  margin-top: 8vh;
  margin-bottom: 2vh;
}

.App-down {
  align-items: center;
  display: flex;
  height: 30px;
  position: fixed;
  right: 14px;
  top: 0;
  background-image:url(../res/app_download_small.png);
  background-repeat: no-repeat;
  background-size: 12px;
  background-position: left center;
  padding-left: 13px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 94vh;
  width: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  font-size: calc(6px + 2vmin);
  color: #009ad6;
  margin-left: auto;
  margin-right: auto;
}

.TextColorRed{
  color: #61dafb;
}

.Span-input{
  margin-top: 1vh;
  margin-bottom: 2vh;
  color: #61dafb;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
